* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'open sans', 'Microsoft Yahei', sans-serif;
    font-size: 12px;
    background-color: #fff;
}

.row {
    margin: auto;
    width: 90%;
    padding: 20px;
}

p {
    padding: 10px;
    padding-left: 0;
    font-size: 16px;
}

.grid {
    overflow: hidden;
    width: 600px; 
    height: 600px; 
}

.grid-header {
    color: #e2e2e2;
    background: #505050;
    position: relative;
}

.grid-header .freeze {
    position: absolute;
}

.grid-header .free {
    position: relative;
    overflow: hidden;
}

.grid-header .free .grid-row {
    position: relative;
}

.grid-body {
    overflow: hidden;
    position: relative;
}

.grid-body .freeze {
    position: absolute;
}

.grid-body .free {
    position: relative;
    overflow: auto;
}

.grid-row {
    height: 38px;
    line-height: 38px;
     /* 不换行 */
    white-space: nowrap;
}

.grid-row.even {
    background: #f9f9f9;
}

.grid-row.odd {
    background: #fff;
}

.grid-body .grid-row.hover {
    background: #f0f0f0;
}

.grid-body .grid-row.selected {
    background: #dffbcc;
}

.grid-item {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    border-right: #d4d4d4 dotted 1px;
}

.grid-item.check {
    min-width: 36px;
}

.grid-item.name {
    min-width: 150px;
}

.grid-item.no {
    min-width: 120px;
}

.grid-item.gender {
    min-width: 50px;
}

.grid-item.property {
    min-width: 120px;
}

.grid-item.position {
    min-width: 120px;
}

.grid-item.status {
    min-width: 150px;
}

.grid-item.region {
    min-width: 150px;
}

.grid-item.role {
    min-width: 150px;
}

.grid-item.managementUnit {
    min-width: 100px;
}

.grid-item.GID {
    min-width: 100px;
}