* {
    margin: 0;
    padding: 0;
}

p {
    padding: 10px;
    padding-left: 0;
}

.row {
    margin: auto;
    width: 90%;
    padding: 20px;
}

label,
input,
select {
    vertical-align: middle;
}


.custom-switch-container {
    margin-top: 10px;
    font-size: 16px;
}

.custom-switch-container label {
    display: block;
}

.custom-switch {
    width: 52px;
    height: 31px;
    position: relative;
    border: 1px solid #dfdfdf;
    background: #fdfdfd;
    box-shadow: #dfdfdf 0 0 0 0 inset;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-clip: content-box;
    display: inline-block;
    -webkit-appearance: none;
    user-select: none;
    outline: none;
}

.custom-switch:before {
    content: '';
    width: 29px;
    height: 29px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.custom-switch:checked {
    border-color: #64bd63;
    box-shadow: #64bd63 0 0 0 16px inset;
    background-color: #64bd63;
}

.custom-switch:checked:before {
    left: 21px;
}

/* 简单背景过渡 */
.custom-switch-anim-bg {
    transition: background-color ease 0.4s;
}

.custom-switch.custom-switch-anim-bg:checked {
    box-shadow: #dfdfdf 0 0 0 0 inset;
    background-color: #64bd63;
    transition: border-color 0.4s, background-color ease 0.4s;
}

.custom-switch.custom-switch-anim-bg:before {
    transition: left .3s;
}